# Week -4 Task-1 Challenge 
   -  scraping the data from 5 telegram channel

## import dependencies

In [ ]:
import asyncio
import csv
import os
import re
from telethon import TelegramClient
import pytesseract
from PIL import Image
import unicodedata
import emoji
import nltk
from nltk.tokenize import word_tokenize
# from nltk.normalize import word_normalize
import pandas as pd
import sys
sys.path.append('F:/Telegram_E-commerce-_extractor-/src')

## Telegram scrapper for processing: 
Five channels are scraped and stored in the data folder, they are 
-  @Shageronlinestore
-  @ZemenExpress
-  @nevacomputer
-  @sinayelj
-  @Leyueqa

In [ ]:
# modules calling from src
% run telegram_Scrapper.py

Client connected successfully
Data from Sheger online-store saved to telegram_scraped_data\Sheger online-store_data.csv
Data from Zemen Express® saved to telegram_scraped_data\Zemen Express®_data.csv
Data from NEVA COMPUTER® saved to telegram_scraped_data\NEVA COMPUTER®_data.csv

Server closed the connection: [WinError 10054] An existing connection was forcibly closed by the remote host

Data from SINA KIDS_ሲና ኪድስⓇ saved to telegram_scraped_data\SINA KIDS_ሲና ኪድስⓇ_data.csv
Data from ልዩ እቃ saved to telegram_scraped_data\ልዩ እቃ_data.csv

## Displaying of the raw data sample

In [19]:
import pandas as pd
df = pd.read_csv("F:/Telegram_E-commerce-_extractor-/data/telegram_scraped_data/NEVA COMPUTER®_data.csv")
df.head()

,channel,message_id,sender_id,timestamp,text,tokens,image_text,media_path
0,NEVA COMPUTER®,8779,-1001195361398,2025-06-21T06:32:27+00:00,", , , .\n\n\n\n \n \n .\n ...","[',', ',', ',', '.', '.', ',', ',', '.', ',', ...",NaN,telegram_scraped_data\NEVA COMPUTER®\image_877...
1,NEVA COMPUTER®,8778,-1001195361398,2025-06-21T06:32:27+00:00,NaN,NaN,NaN,telegram_scraped_data\NEVA COMPUTER®\image_877...
2,NEVA COMPUTER®,8777,-1001195361398,2025-06-21T06:32:27+00:00,NaN,NaN,NaN,telegram_scraped_data\NEVA COMPUTER®\image_877...
3,NEVA COMPUTER®,8776,-1001195361398,2025-06-21T06:32:27+00:00,NaN,NaN,NaN,telegram_scraped_data\NEVA COMPUTER®\image_877...
4,NEVA COMPUTER®,8775,-1001195361398,2025-06-11T13:56:52+00:00,NaN,NaN,NaN,telegram_scraped_data\NEVA COMPUTER®\image_877...

In [18]:
df2 = pd.read_csv("F:/Telegram_E-commerce-_extractor-/data/telegram_scraped_data/Sheger online-store_data.csv")
df2.head()

,channel,message_id,sender_id,timestamp,text,tokens,image_text,media_path
0,Sheger online-store,7407,-1001203770957,2025-06-23T07:27:17+00:00,የመፀዳጃ ቤትዕቃዎች መደርደሪያ\n ጠንካራ ብረት\n ሼልፉ የላሜራ \n ...,"['የመፀዳጃ', 'ቤትዕቃዎች', 'መደርደሪያ', 'ጠንካራ', 'ብረት', '...",NaN,NaN
1,Sheger online-store,7406,-1001203770957,2025-06-23T07:27:17+00:00,የመፀዳጃ ቤትዕቃዎች መደርደሪያ\n ጠንካራ ብረት\n ሼልፉ የላሜራ \n ...,"['የመፀዳጃ', 'ቤትዕቃዎች', 'መደርደሪያ', 'ጠንካራ', 'ብረት', '...",NaN,telegram_scraped_data\Sheger online-store\imag...
2,Sheger online-store,7405,-1001203770957,2025-06-21T14:15:21+00:00,NaN,NaN,NaN,telegram_scraped_data\Sheger online-store\imag...
3,Sheger online-store,7404,-1001203770957,2025-06-21T14:15:21+00:00,NaN,NaN,NaN,telegram_scraped_data\Sheger online-store\imag...
4,Sheger online-store,7403,-1001203770957,2025-06-21T14:15:20+00:00,ኳሊቲ የሆነ የጁስ መፍጫ \n የጀርመን ቴክኖሎጂ የሆነ \n ሌትር ጁስ ...,"['ኳሊቲ', 'የሆነ', 'የጁስ', 'መፍጫ', 'የጀርመን', 'ቴክኖሎጂ',...",NaN,telegram_scraped_data\Sheger online-store\imag...

In [20]:
df3 = pd.read_csv("F:/Telegram_E-commerce-_extractor-/data/telegram_scraped_data/Zemen Express®_data.csv")
df3.head()

,channel,message_id,sender_id,timestamp,text,tokens,image_text,media_path
0,Zemen Express®,6994,-1001307493052,2025-06-21T16:35:51+00:00,NaN,NaN,NaN,telegram_scraped_data\Zemen Express®\image_699...
1,Zemen Express®,6993,-1001307493052,2025-06-21T16:35:51+00:00,NaN,NaN,NaN,telegram_scraped_data\Zemen Express®\image_699...
2,Zemen Express®,6992,-1001307493052,2025-06-21T16:35:51+00:00,NaN,NaN,NaN,telegram_scraped_data\Zemen Express®\image_699...
3,Zemen Express®,6991,-1001307493052,2025-06-21T16:35:51+00:00,...................................\n\n \n\n ...,"['...................................', 'ዋጋ፦',...",NaN,telegram_scraped_data\Zemen Express®\image_699...
4,Zemen Express®,6990,-1001307493052,2025-06-21T08:07:31+00:00,NaN,NaN,NaN,telegram_scraped_data\Zemen Express®\image_699...

**checking for NaN values**

In [4]:
print("Checking for NaN values in the 'Message' column:")
nan_count = df['text'].isnull().sum()
print(f"Number of NaN values in 'Message' column: {nan_count}")

Checking for NaN values in the 'Message' column:
Number of NaN values in 'Message' column: 730

In [5]:
df = df.dropna(subset=['text'])

# Print the shape of the dataset after dropping NaN values in the "Message" column
print(f"Dataset shape after dropping NaN values in 'Message' column: {df.shape}")

Dataset shape after dropping NaN values in 'Message' column: (263, 8)

# Dropping and renaming  of some unnecessary columns  for simplicity

In [28]:
# Drop the column 'media_path' if it exists
if 'media_path' in df.columns:
    df = df.drop('media_path', axis=1)

# Rename multiple columns safely using a dictionary
df = df.rename(columns={
    df.columns[3]: 'Message Date',
    df.columns[4]: 'Message',
    df.columns[5]: 'Product Description'
})
# Rename multiple columns safely using a dictionary
if 'media_path' in df2.columns:
    df2 = df2.drop('media_path', axis=1)
df2 = df2.rename(columns={
    df2.columns[3]: 'Message Date',
    df2.columns[4]: 'Message',
    df2.columns[5]: 'Product Description'
})

In [26]:
df.head()

,channel,message_id,sender_id,Message Date,Message,Product Description,image_text
0,NEVA COMPUTER®,8779,-1001195361398,2025-06-21T06:32:27+00:00,", , , .\n\n\n\n \n \n .\n ...","[',', ',', ',', '.', '.', ',', ',', '.', ',', ...",NaN
1,NEVA COMPUTER®,8778,-1001195361398,2025-06-21T06:32:27+00:00,NaN,NaN,NaN
2,NEVA COMPUTER®,8777,-1001195361398,2025-06-21T06:32:27+00:00,NaN,NaN,NaN
3,NEVA COMPUTER®,8776,-1001195361398,2025-06-21T06:32:27+00:00,NaN,NaN,NaN
4,NEVA COMPUTER®,8775,-1001195361398,2025-06-11T13:56:52+00:00,NaN,NaN,NaN

In [29]:
df2.head()

,channel,message_id,sender_id,Message Date,Message,Product Description,image_text
0,Sheger online-store,7407,-1001203770957,2025-06-23T07:27:17+00:00,የመፀዳጃ ቤትዕቃዎች መደርደሪያ\n ጠንካራ ብረት\n ሼልፉ የላሜራ \n ...,"['የመፀዳጃ', 'ቤትዕቃዎች', 'መደርደሪያ', 'ጠንካራ', 'ብረት', '...",NaN
1,Sheger online-store,7406,-1001203770957,2025-06-23T07:27:17+00:00,የመፀዳጃ ቤትዕቃዎች መደርደሪያ\n ጠንካራ ብረት\n ሼልፉ የላሜራ \n ...,"['የመፀዳጃ', 'ቤትዕቃዎች', 'መደርደሪያ', 'ጠንካራ', 'ብረት', '...",NaN
2,Sheger online-store,7405,-1001203770957,2025-06-21T14:15:21+00:00,NaN,NaN,NaN
3,Sheger online-store,7404,-1001203770957,2025-06-21T14:15:21+00:00,NaN,NaN,NaN
4,Sheger online-store,7403,-1001203770957,2025-06-21T14:15:20+00:00,ኳሊቲ የሆነ የጁስ መፍጫ \n የጀርመን ቴክኖሎጂ የሆነ \n ሌትር ጁስ ...,"['ኳሊቲ', 'የሆነ', 'የጁስ', 'መፍጫ', 'የጀርመን', 'ቴክኖሎጂ',...",NaN

In [24]:
message_df=df['Message']
message_df

0      ,   , ,  .\n\n\n\n  \n     \n            .\n  ...
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
                             ...
988                                                  NaN
989    ለጨረታ ምትፈልጉ\nብዛት \n\n  \n \n\n       ,  ,  , . ...
990                                                  NaN
991                                                  NaN
992                                                  NaN
Name: Message, Length: 993, dtype: object

In [30]:
message_df2=df2['Message']
message_df2

0      የመፀዳጃ ቤትዕቃዎች  መደርደሪያ\n ጠንካራ ብረት\n ሼልፉ የላሜራ \n ...
1      የመፀዳጃ ቤትዕቃዎች  መደርደሪያ\n ጠንካራ ብረት\n ሼልፉ የላሜራ \n ...
2                                                    NaN
3                                                    NaN
4      ኳሊቲ የሆነ የጁስ መፍጫ \n የጀርመን ቴክኖሎጂ የሆነ \n  ሌትር ጁስ ...
                             ...
994    ., \n   \n     \n    \n  \n     \n\n   \n   \n...
995                                                  NaN
996                                                  NaN
997                                                  NaN
998                                                  NaN
Name: Message, Length: 999, dtype: object

## Removing of Emoji

In [32]:

# Define a function to remove emojis
def remove_emojis(text):
    emoji_pattern = re.compile(
        "[" 
        "\U0001F600-\U0001F64F"  # emoticons
        "\U0001F300-\U0001F5FF"  # symbols & pictographs
        "\U0001F680-\U0001F6FF"  # transport & map symbols
        "\U0001F700-\U0001F77F"  # alchemical symbols
        "\U0001F780-\U0001F7FF"  # Geometric Shapes Extended
        "\U0001F800-\U0001F8FF"  # Supplemental Arrows-C
        "\U0001F900-\U0001F9FF"  # Supplemental Symbols and Pictographs
        "\U0001FA00-\U0001FA6F"  # Chess Symbols
        "\U0001FA70-\U0001FAFF"  # Symbols and Pictographs Extended-A
        "\U00002702-\U000027B0"  # Dingbats
        "\U000024C2-\U0001F251" 
        "]+", 
        flags=re.UNICODE
    )
    return emoji_pattern.sub(r'', text)

In [38]:
import re
# Apply the function to the 'Message' column, handling NaN values
df['Message'] = df['Message'].apply(lambda x: remove_emojis(x) if isinstance(x, str) else x)
# Display the updated DataFrame
df.head(10)

,channel,message_id,sender_id,Message Date,Message,Product Description,image_text
0,NEVA COMPUTER®,8779,-1001195361398,2025-06-21T06:32:27+00:00,", , , .\n\n\n\n \n \n .\n ...","[',', ',', ',', '.', '.', ',', ',', '.', ',', ...",NaN
1,NEVA COMPUTER®,8778,-1001195361398,2025-06-21T06:32:27+00:00,NaN,NaN,NaN
2,NEVA COMPUTER®,8777,-1001195361398,2025-06-21T06:32:27+00:00,NaN,NaN,NaN
3,NEVA COMPUTER®,8776,-1001195361398,2025-06-21T06:32:27+00:00,NaN,NaN,NaN
4,NEVA COMPUTER®,8775,-1001195361398,2025-06-11T13:56:52+00:00,NaN,NaN,NaN
5,NEVA COMPUTER®,8774,-1001195361398,2025-06-11T13:56:52+00:00,", .. , \n , \n \n , ...","[',', '..', ',', ',', ',', ',', ',', ',', ',',...",NaN
6,NEVA COMPUTER®,8773,-1001195361398,2025-06-11T13:56:52+00:00,NaN,NaN,NaN
7,NEVA COMPUTER®,8772,-1001195361398,2025-06-09T21:37:09+00:00,". \n \n\n \n \n , , \n\n \...","['.', ',', ',', ',', ',', ',', ',', ',', '.', ...",NaN
8,NEVA COMPUTER®,8771,-1001195361398,2025-06-09T21:37:09+00:00,NaN,NaN,NaN
9,NEVA COMPUTER®,8770,-1001195361398,2025-06-04T08:36:54+00:00,", , . \n \n \n ...","[',', ',', '.', '.', '.', ',', ',', ',', ',', ...",NaN

In [ ]:
%pip install amseg
from amseg import AmharicSegmenter
sent_punct = []
word_punct = []
segmenter = AmharicSegmenter(sent_punct, word_punct)

:

## Function to tokenize Amharic text

In [39]:
# Function to tokenize Amharic text
def tokenize_amharic_text(text):
    """
    Tokenizes Amharic text using nltk word_tokenize 
    """
    tokens = segmenter.amharic_tokenizer(text)
    return tokens

## Normalize Amharic text

In [41]:
def normalize_amharic_text(text):
    """
    Normalizes Amharic text by removing non-Amharic characters and handling case sensitivity.
    """
    text = text.lower()
    # Replace special punctuation marks with a space
    text = re.sub(r'[፡።፣፤፥፦]', ' ', text)
    # Remove any extra spaces
    text = re.sub(r'\s+', ' ', text).strip()
    return text

In [42]:
def preprocess_amharic_text(text):
    normalized_text = normalize_amharic_text(text)
    tokens = tokenize_amharic_text(normalized_text)
    print(tokens)
    return tokens

**preprocessed dat keeping**

In [43]:
df["Product Tokens"] = df["Product Description"].apply(preprocess_amharic_text)
df.to_csv("telegram_data_preprocessed.csv", index=False)

NameError: name 'segmenter' is not defined